<section data-ng-controller="OwersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Owers</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="ower in owers" data-ng-href="#!/owers/{{ower._id}}" class="list-group-item">
			<h4 class="list-group-item-heading">{{heading(ower)}}</h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!owers.$resolved || owers.length">
    	No Owers yet, why don't you <a href="/#!/owers/create">create one</a>?
    </div>
</section>

<section data-ng-controller="FriendsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Friends</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="friend in friends" data-ng-href="#!/friends/{{friend._id}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{heading(friend)}}</h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!friends.$resolved || friends.length">
        No Friends yet, why don't you <a href="/#!/friends/create">add one</a>?
    </div>
</section>