<section data-ng-controller="LocalomisController">
    <div class="page-header">
        <h1>New Localomi</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required />
                    </div>
                    <label class="control-label" for="amount">Amount</label>
                    <div class="controls">
                        <input type="number" data-ng-model="amount" id="amount" class="form-control" placeholder="Amount" required/>
                    </div>
                    <label class="control-label" for="note">Note</label>
                    <div class="controls">
                        <input type="text" data-ng-model="note" id="note" class="form-control" placeholder="Note"/>
                    </div>
                    <label class="control-label" for="type">Type</label>
                    <select class="form-control" data-ng-model="type" id="type" required>
                        <option value="omi">Omi</option>
                        <option value="payment">Payment</option>
                    </select>
                    <label class="control-label" for="direction">Direction</label>
                    <select class="form-control" data-ng-model="direction" id="direction" required>
                        <option value="toOwer">You are sending</option>
                        <option value="toUser">You are receiving</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error.message"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>