.centered-text {
  text-align: center;
}

section {
  height: 100vh;
}

a {
  text-decoration: none;
}

.medium-3 {
  text-align: center;
}

div.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.button {
  width: 100%;
}

h4.subheader {
  margin-bottom: 30px;
}